body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.image-container {
    width: 100%;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}
.cont3 {
    margin-top: 20px;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.container-wrapper {
    display: flex;
    justify-content: space-between; /* Répartit les éléments avec un espace égal entre eux */
    margin: 0 -15px; /* Compense l'espacement des colonnes */
}

.container-column {
    flex-grow: 1; /* Chaque colonne prendra autant d'espace que possible */
    max-width: calc(33.33% - 30px); /* Calcule la largeur maximale en tenant compte de l'espacement */
    padding: 0 15px; /* Ajoute de l'espacement à gauche et à droite de chaque colonne */
}

.container {
    flex-grow: 1; /* Chaque élément prendra autant d'espace que possible */
    max-width: 100%; /* Chaque élément aura une largeur maximale de 100% de la colonne parente */
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box; /* Inclure les bordures et le padding dans la largeur */
}


.container2 {
    margin-top: 20px;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
.container2 a{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}


.chat-container {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}


.container ul {
    list-style-type: none;
    padding: 0;
}

.container li {
    margin-bottom: 10px; /* Espacement entre les éléments de la liste */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    text-align: center;
}

/* Style de base du header */
.header {
    background-color: #2c3e50;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style de la navbar */
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Ajout */
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Effet de survol sur les liens */
.navbar ul li a:hover {
    background-color: #34495e;
}

/* Style de la boîte de notification */
.notification-box {
    position: relative;
    order: -1; /* Ajout */
    margin-right: auto; /* Ajout */
}

.notification-button {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.notification-content {
    display: none;
    position: absolute;
    top: 30px;
    background-color: #34495e;
    padding: 10px;
    border-radius: 5px;
}

.container1 ul{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.container1 a{
    text-decoration: none;
    color: #fff;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


button{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.btn{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    color: red;
}

#interestsHeader, #editProfileHeader {
    position: relative;
}

.deleteInterest{
    margin-right: 10px;
}
 /* Styles pour la fenêtre modale */
.modal {
    display: none; /* Par défaut, la fenêtre modale est cachée */
    position: fixed;
    z-index: 1; /* Placez la fenêtre modale au-dessus de tout le contenu */
    left: 0;
    top: 0;
    width: 100%; /* Largeur de la fenêtre modale */
    height: 100%; /* Hauteur de la fenêtre modale */
    overflow: auto; /* Activer le défilement si nécessaire */
    background-color: rgba(0,0,0,0.4); /* Fond semi-transparent pour mettre en évidence la fenêtre modale */
}
.modal h2, .modal ul{
    align-items: center;
    justify-content: center;
    display: flex;
}



/* CSS pour centrer les inputs et les labels et leur donner une largeur de 80% */
.modal-content1 {
    background-color: #fefefe;
    margin: 15% auto; /* Centrer la fenêtre modale verticalement */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largeur de la fenêtre modale */
}

/* Style pour les labels */
.modal-content1 label {
    display: inline-block; /* Afficher les labels en ligne */
    width: 30%; /* Largeur de 30% */
    margin-right: 10px; /* Marge à droite pour l'espace entre les labels et les inputs */
    text-align: left; /* Alignement du texte à gauche à l'intérieur des labels */
}

/* Style pour les inputs */
.modal-content1 input,
.modal-content1 select {
    width: 60%; /* Largeur de 60% */
    padding: 5px; /* Ajout de remplissage pour l'apparence */
    margin-bottom: 10px; /* Marge en bas pour l'espace entre les inputs */
    box-sizing: border-box; /* Inclure le remplissage et la bordure dans la largeur */
}

/* Style pour le bouton */
.modal-content1 button {
    width: 10%; /* Largeur de 100% pour occuper toute la largeur */
    padding: 10px 20px ; /* Ajout de remplissage pour l'apparence */
}

/* CSS pour ajuster la taille de l'image à celle d'un bouton avec un padding de 20px */
#editInterestsButton, #editProfileButton{
    padding:  10px; /* Ajouter un padding de 20px au bouton */
}

#editInterestsButton img, #editProfileButton img {
    width: 40px; /* Largeur fixe de l'image */
    height: 40px; /* Hauteur fixe de l'image */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrer la fenêtre modale verticalement */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largeur de la fenêtre modale */
}

/* Fermez le bouton */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Fermez le bouton */
.closee {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.closee:hover,
.closee:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}